In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

## data collection and analysis

In [12]:
df= pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [14]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [15]:
df.shape

(768, 9)

In [16]:
df['Pregnancies'].value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

In [17]:
## 1 represent patient is diabtic 
## 0 represent patient is not diabtic

In [18]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [19]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [20]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [21]:
X = df.drop(columns='Outcome',axis=1)
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [22]:
Y = df['Outcome']
Y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

## data standardization

In [23]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [46]:
standardize = scaler.transform(X)

C:\Users\LAKSHAY\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [47]:
standardize

array([[-0.95180864, -3.7571036 , -3.56486115, ..., -4.03458073,
        -0.01022106, -2.70705751],
       [-1.39275404, -3.81881281, -3.58089709, ..., -4.14734019,
        -2.52764931, -2.8446161 ],
       [-0.77543048, -3.7228207 , -3.58624241, ..., -4.20049822,
         0.40022919, -2.83737617],
       ...,
       [-1.03999772, -3.78355041, -3.56486115, ..., -4.15378359,
        -3.49448769, -2.85185602],
       [-1.39275404, -3.77865285, -3.59693304, ..., -4.09096046,
        -2.54589154, -2.72877728],
       [-1.39275404, -3.81097672, -3.57020646, ..., -4.08612791,
        -2.85600951, -2.9025355 ]])

In [26]:
X = standardize

## train-test-split

In [27]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=2,stratify=Y)
X_train.shape

(614, 8)

## training the model

In [28]:
classifier = svm.SVC(kernel='linear')

In [29]:
# training the support vector machine

In [30]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

## model evaluation

In [31]:
# accuracy score
x_train_prediction = classifier.predict(X_train)
train_data_accuracy = accuracy_score(x_train_prediction,Y_train)
train_data_accuracy

0.7866449511400652

In [32]:
x_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(x_test_prediction,Y_test)
test_data_accuracy

0.7727272727272727

## make predictive system

In [44]:
input = (7,109,76,0,0,39.4,0.257,93)
input_array = np.asarray(input)
print(input_array)
input_array_reshape = input_array.reshape(1,-1)
input_array_reshape

[  7.    109.     76.      0.      0.     39.4     0.257  93.   ]

array([[  7.   , 109.   ,  76.   ,   0.   ,   0.   ,  39.4  ,   0.257,
         93.   ]])

In [45]:
std_data = scaler.transform(input_array_reshape)
print(std_data)
prediction = classifier.predict(std_data)
print(prediction)
if prediction == 0:
    print('patient is not diabtic')
else:
    print('patient is diabtic')

[[ 0.93691372 -0.37226487  0.35643175 -1.28821221 -0.69289057  0.94014439
  -0.64895193  5.08476879]]
[1]
patient is diabtic

C:\Users\LAKSHAY\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(